<link rel="stylesheet" href="css/footer.css">
<div>
    <ul>
        <li><a href="#"><img src="icons/fbIcon.svg" alt=""></a></li>
        <li><a href="#"><img src="icons/igIcon.svg" alt=""></a></li>
        <li><a href="#"><img src="icons/ttIcon.svg" alt=""></a></li>
    </ul>
</div>
<div>
    <p>copyright Všetky práva vyhradené</p>
</div>