<link rel="stylesheet" href="/css/navbar.css">

<nav>
    <a href="/"><img id="logo" src="images/logo.png" alt="logo studia"></a>
    <ul>
        <li><a href="/booking">Objednať sa</a></li>
        <li><a href="#">Naša tvorba</a></li>
        <li><a href="#">Salón</a></li>
    </ul>
</nav>